@font-face {
  font-family: PP mori;
  src: url(./ppmori.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP mori;
  color: #fff;
}

*::selection {
  background-color: #000000;
  color: white;
}

.fade75 {
  opacity: 75%;
}

.fade50 {
  opacity: 50%;
}

.fade25 {
  opacity: 25%;
}

html,
body {
  height: 100%;
  width: 100%;
}
#purple {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100;
  background-color: #edbfff;
  opacity: 0;
  display: none;
  transition: opacity ease 1s;
}
.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbfff;
  z-index: 8;
  transition: background-image ease 0.5s;
  background-position: center;
  background-size: cover;
  mix-blend-mode: difference;
}
.main {
  background-color: #0f0d0d;
  cursor: none;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding-top: 12vw;
}

#nav {
  height: 55px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 102;
}
#nav img {
  height: 27px;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#nav #circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
}
#nav h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
#nav h4:nth-child(1) {
  border-bottom: 1.5px solid #fff;
}

.marquee-container {
  height: 30px;
  overflow: hidden;
  line-height: 30px;

  .marquee {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
  }

  .marquee2 {
    animation-delay: 15s;
  }
  b {
    padding-left: 10px;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.page1 h1 {
  font-size: 6vw;
  font-weight: 600;
  font-family: PP mori;

  margin-left: 6vw;
  transform-origin: left;
}

.page1 p {
  font-size: 2vw;
  font-weight: 300;
  font-family: PP mori;

  margin-left: 6vw;
  transform-origin: left;
}

.page1 h2 {
  font-size: 6vw;
  font-weight: 600;
  transform-origin: left;

  margin-left: 26vw;
}

.page1 video {
  width: 60%;
  margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 80vh;
  width: 100%;
  padding: 100px 5vw;
  border-bottom: 2px solid #6c6c6c;
  position: relative;
  z-index: 9;
}

.page2 h1 {
  font-size: 5vw;
  font-weight: 500;
  color: #111;
}
.page2-container {
  height: 60vh;
  display: flex;
  width: 100%;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* padding: /0 5vw; *
}
.page2-left {
  /* background-color: blue; */
  width: 100%;
  line-height: 3rem;
}
.page2-right {
  /* background-color: blue; */
  width: 100%;
}
.page2-left h2 {
  font-size: 2vw;
  font-weight: 300;
  color: #111;
  line-height: 3vw;
  
}
.page2-right p {
  font-size: 28px;
  color: #111;
}
.page2-right button {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #edbfff;
  color: #111;
  margin-top: 20px;
}

.artist:hover {
  color: rgb(90, 90, 90);
}

.page3 {
  min-height: 40vh;
  width: 100%;
  padding-top: 100px;
  position: relative;
  z-index: 9;
}

.page3 h1 {
  font-size: 6.8vw;
  font-weight: 300;
  color: #111;
  margin-left: 100px;
}
.page3-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.page3-part1 img {
  height: 400px;
  margin-top: 160px;
}
.page3-part1 video {
  height: 400px;
  margin-top: 40px;
}
.page4 {
  min-height: 100vh;
  width: 100%;
  z-index: 9;
  position: relative;
  padding: 170px 100px;
}
.elem {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.elem span {
  font-size: 1rem;
  margin: 2rem;
}

.techStackList {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.workContent {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
}

.elem:hover .workContent {
  opacity: 1;
  transform: translateY(0%) rotate(0deg);
}

.elem .workContent:nth-child(1) {
  left: 2%;
}
.elem .workContent:nth-child(3) {
  right: 5%;
}

.elem img {
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1) {
  left: 2%;
}
.elem img:nth-child(3) {
  right: 5%;
}
.text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vh;
  position: relative;
  z-index: 9;
  margin: 2rem;
  overflow: hidden;
}
.elem h1 {
  font-size: 4vw;
  font-weight: 600;
  transition: all ease-out 0.5s;
}

.elem:hover h1 {
  transform: translateY(-100%);
  color: #11ff00;
}
.elem:hover img {
  opacity: 1;
  transform: translateY(0%) rotate(0deg);
}

.page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 140px 100px;
}
.page5 h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}
.box {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-top: 2px solid #dadada;
}

.box:nth-last-child(1) {
  border-bottom: 2px solid #dadada;
}

footer {
  height: 90vh;
  width: 100%;
  background-color: #edbfff;
}

.page4 h1 {
  color: black;
}

/* styles.css */
#desktop-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Red background for the message */
  color: #fff; /* White text color for the message */
  text-align: center;
  padding: 10px;
  z-index: 9999; /* Ensure it's on top of other elements */
}

/* FROM HERE WE WILL DESIGN IT TO BE RESPONSIVE */

/* Mobile Styles */
@media screen and (max-width: 480px) {
    
    .page2-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .page2-left {
        /* background-color: blue; */
        width: 100%;
      }
      .page2-right {
        /* background-color: blue; */
        width: 100%;
      }

      .page2-left h2 {
        font-size: 2vw;
        font-weight: 300;
        color: #111;
        line-height: 1vw;
      }

      .page2-right p {
        font-size: 2vw;
        color: #111;
      }

  
  .page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #11ff00;
    height: 100vh;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
  }

  .page1 h1 {
    font-size: 6vw;
    font-weight: 600;
    font-family: PP mori;
  }

  .page1 p {
    font-size: 2vw;
    font-weight: 300;
    font-family: PP mori;
  }

  .page1 h2 {
    font-size: 6vw;
    font-weight: 600;
  }

  .page1 video {
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* Tablet Styles */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .page2-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .page2-right {
        /* background-color: blue; */
        width: 100%;
      }


      .page2-left {
        /* background-color: blue; */
        width: 100%;
      }
      .page2-right {
        /* background-color: blue; */
        width: 100%;
      }

      .page2-left h2 {
        font-size: 3vw;
        font-weight: 300;
        color: #111;
        line-height: 3rem;
      }

      .page2-right p {
        font-size: 3vw;
        color: #111;
        line-height: 3rem;
      }
}

/* Desktop Styles */
@media screen and (min-width: 1025px) {
  /* Your desktop-specific CSS here */
}
